/* o que é uma regra CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
}

:root {
    font-size: 62.5%; 
}

body, input, button, textarea {

    font-size: 400 18rem/1; 
    font: 'Nunito', sans-serif;
}