/* o que é uma regra CSS*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: white;
}

:root {
    font-size: 62.5%; 
}

body, input, button, textarea {

    font-size: 400 18rem/1 
    font: 'Nunito', sans-serif;
}




/* animações */


#logo {
    animation-delay: 50ms;
}    


#location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    animation-delay: 250ms;
}